.topnav {
  overflow: hidden;
  background-color: gray;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: cornflowerblue;
  color: white;
}

body {
  background: powderblue;
  marging: 0;
}

h1 {
  color: midnightblue;
  text-align: center;
  font-size: 100px;
  font-family: 'Quicksand', sans-serif;
}

p {
  text-align: center;
  color: midnightblue;
  font-family: 'Coustard', serif;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover{
  color: steelblue;
}
.social {
    text-align: center;
}

.center{
  text-align: center;
}

tab1 { padding-left: 0.5em; }
tab2 { padding-left: 8em; }
tab3 { padding-left: 12em; }
tab4 { padding-left: 16em; }
tab5 { padding-left: 20em; }
tab6 { padding-left: 24em; }
tab7 { padding-left: 28em; }
tab8 { padding-left: 32em; }
tab9 { padding-left: 36em; }
