.topnav {
  position: fixed;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Josefin Sans', sans-serif;
}

.topnav a:hover {
  background-color: cornflowerblue;
  color: white;

  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.topnav a.active {
}

body {
  margin: 0;
  height: 100%;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
}

tab1 { padding-left: 0.5em; }
tab2 { padding-left: 8em; }
tab3 { padding-left: 12em; }
tab4 { padding-left: 16em; }
tab5 { padding-left: 20em; }
tab6 { padding-left: 24em; }
tab7 { padding-left: 28em; }
tab8 { padding-left: 32em; }
tab9 { padding-left: 36em; }

h1 {
  color: white;
  text-align: center;
  font-size: 100px;
  font-family: 'Quicksand', sans-serif;
}

p {
  text-align: center;
  color: white;
  font-family: 'Coustard', serif;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover{
  color: steelblue;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.social {
    text-align: center;
}

.center{
  text-align: center;
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -29px;
  display: block;
  height: 42px;
  width: 42px;
  font-size: 42px;
  line-height: 42px;
  border-radius: 100%;
}
canvas {
  background: black;
  margin: 0;
  width: 100%;
}

#home {
  background: black;
}

#about {
  color: black;
  padding-bottom: 66px;
}

.about-header{
  color: black;
}

.about-text {
  color: black;
}

#about button {
  text-decoration: none;
  width: 10%;
  height: 5%;
  margin: 0;
  padding: 0;
  border: none;
  background: tomato;
  color: white;
  font-family: 'Josefin Sans', sans-serif;


}

#about button:hover {
  outline: 0;
  background-color: cornflowerblue;
  cursor: pointer;

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#about a:visited {
  color: cornflowerblue;
}

#about a:hover {
  color: tomato;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 20px;
    resize: vertical;
    font-family: 'Josefin Sans', sans-serif;
}

input[type=submit] {
    background-color: tomato;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
}

input[type=submit]:hover {
    background-color: mediumspringgreen;
    color: black;
}

.container {
    width: 50%;
    height: 50%;
    float: right;
    background-color: cornflowerblue;
}

.container1 {
    width: 50%;
    height: 50%;
    float: left;
    background-color: mediumseagreen;
}

.fname, .lname, .subject{
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}
#contact p{
  font-family: 'Josefin Sans', sans-serif;
}
