ul {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
    position: fixed;
    top: 0;
    width:100%;
}

li {
    float: right;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: dodgerblue;
}


body {
  background: url("../images/header_background.jpg") no-repeat top center;
  width: 100%;

  background-size: cover !important;
  -webkit-background-size: cover !important;
  text-align: center;
  overflow: visible;

}
h1 {
  color: white;
}
