.topnav {
  overflow: hidden;
  background-color: gray;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: cornflowerblue;
  color: white;
}

body {
  background: powderblue;
  marging: 0;
}

h1 {
  color: midnightblue;
  text-align: center;
  font-size: 100px;
  font-family: 'Quicksand', sans-serif;
}

p {
  text-align: center;
  color: midnightblue;
  font-family: 'Coustard', serif;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover{
  color: white;
}
.social {
    list-style-type: none;
    text-align: center;
}
