.topnav {
  overflow: hidden;
  background-color: powderblue;
}

.topnav a {
  float: left;
  color: midnightblue;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Josefin Sans', sans-serif;
}

.topnav a:hover {
  background-color: steelblue;
  color: white;

  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.topnav a.active {
  background-color: cornflowerblue;
  color: white;
}

body {
  background: powderblue;
  marging: 0;
}

tab1 { padding-left: 0.5em; }
tab2 { padding-left: 8em; }
tab3 { padding-left: 12em; }
tab4 { padding-left: 16em; }
tab5 { padding-left: 20em; }
tab6 { padding-left: 24em; }
tab7 { padding-left: 28em; }
tab8 { padding-left: 32em; }
tab9 { padding-left: 36em; }

h1 {
  color: midnightblue;
  text-align: center;
  font-size: 100px;
  font-family: 'Quicksand', sans-serif;
}

p {
  text-align: center;
  color: midnightblue;
  font-family: 'Coustard', serif;
}

a {
  color: gray;
  text-decoration: none;
}

a:hover{
  color: steelblue;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.social {
    text-align: center;
}

.center{
  text-align: center;
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -29px;
  display: block;
  height: 42px;
  width: 42px;
  font-size: 42px;
  line-height: 42px;
  border-radius: 100%;
}
