.topnav {
  position: fixed;
}

.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  font-family: 'Josefin Sans', sans-serif;
}

.topnav a:hover {
  background-color: cornflowerblue;
  color: white;

  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}

.topnav a.active {
}

* {
  box-sizing: border-box;
}



body {
  background: moccasin;
  margin: 0;
  height: 100%;
  overflow: scroll;
  overflow-y: scroll;
  overflow-x: hidden;
}

tab1 { padding-left: 0.5em; }
tab2 { padding-left: 8em; }
tab3 { padding-left: 12em; }
tab4 { padding-left: 16em; }
tab5 { padding-left: 20em; }
tab6 { padding-left: 24em; }
tab7 { padding-left: 28em; }
tab8 { padding-left: 32em; }
tab9 { padding-left: 36em; }

h1 {
  color: white;
  text-align: center;
  font-size: 100px;
  font-family: 'Quicksand', sans-serif;

}

.header-bar {
  margin: 25px  75px ;
  margin-left: auto;
  margin-right: auto;
  width: 130px;
  height: 4px;
  background: white;
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

p {
  text-align: center;
  color: white;
  font-family: 'Coustard', serif;
}

a {
  color: steelblue;
  text-decoration: none;
}

a:hover{
  color: moccasin;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}


.social {
    text-align: center;
}

.center{
  text-align: center;
}

.scroll {
  position: absolute;
  bottom: 20px;
  left: 50%;
  margin-left: -29px;
  display: block;
  height: 42px;
  width: 42px;
  font-size: 42px;
  line-height: 42px;
  border-radius: 100%;
}
canvas {
  margin: 0;
  width: 100%;
}

#home {
  background: black;
}

#about {
  padding-bottom: 66px;
}

.about-header{
  color: cornflowerblue;
}

.about-text {
  text-align: center;
  color: black;
}

#about button {
  text-decoration: none;
  width: 10%;
  height: 5%;
  margin: 0;
  padding: 0;
  border: none;
  background: coral;
  color: white;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
}

#about button:hover {
  outline: 0;
  background-color: cornflowerblue;
  cursor: pointer;

  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}

#about a:visited {
  color: cornflowerblue;
}

#about a:hover {
  color: tomato;
}


input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    margin-right: 20px;
    resize: vertical;
    font-family: 'Josefin Sans', sans-serif;
}

input[type=submit] {
    background-color: tomato;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Josefin Sans', sans-serif;
}

input[type=submit]:hover {
    background-color: coral;
}

.container {
    width: 50%;
    height: 50%;
    float: right;
    background-color: cornflowerblue;
}

.container1 {
    width: 50%;
    height: 50%;
    float: left;
    background-color: mediumseagreen;
}

.fname, .lname, .subject{
  color: white;
  font-family: 'Josefin Sans', sans-serif;
}
#contact p {
  font-family: 'Josefin Sans', sans-serif;
}
#contact a {
  color: red;
}
#contact a:hover {
  color: blue;
}

#projects {
  background: turquoise;
  padding-bottom: 66px;
}


#projects .grid-container {
  display: grid;
  grid-column-gap: 1px;
  grid-row-gap: 20px;
  grid-template-columns: auto auto auto;
  background-color: turquoise;
  padding: 100px;
  padding-right: 10px;
}
#projects .grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  padding: 20px;
  width: 75%;
  height: 200px;
  font-size: 30px;
  text-align: center;
}


#skills {
  padding-bottom: 66px;
}

#skills h1 {
  color: coral;
  line-height: 1.5em;
}


#skills p {
  color: coral;
  text-align: left;
  font-family: 'Josefin Sans', sans-serif;
}
#skills div {
  font-family: 'Josefin Sans', sans-serif;
}

* {box-sizing: border-box}

.skillbars {
  width: 100%;
  background-color: moccasin;
}

.skills {
  text-align: right;
  padding-right: 20px;
  line-height: 40px;
  color: white;
}

.html {width: 90%; background-color: mediumaquamarine;}
.css {width: 85%; background-color: mediumaquamarine;}
.js {width: 80%; background-color: mediumaquamarine;}
.php {width: 50%; background-color: mediumaquamarine;}

footer {
    padding-bottom: 60px;
    background: purple;
}

footer li {
  color: white;
  text-align: center;
  font-family: 'Quicksand', sans-serif;
  line-height: 24px;
  text-align: center;
}
