
body {
  background-color: lavender;
}
#home  {
  height: 100%;
  background-color: lavender;
  text-align: center;
  display: table;
  width: 100%;
}

#home h1 {
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}

#home p {
  font-family: 'PT Sans', sans-serif;
  font-size: 20px;
}

#home button {
  color: black;
  height: 10%;
  width: 50%;
  background: white;
  display: block;
  text-align: center;
  margin: 0 auto;
  border-radius: 12px;
  border: none;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  background: lightskyblue;
}

.dropbtn {
    background-color: #3498DB;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float: right;
}

.dropbtn:hover, .dropbtn:focus {
    background-color: #2980B9;
}

.dropdown {
    position: relative;
    display: inline-block;
    float: right;
}

.dropdown-content {
    display: none;
    float: right;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;

}

.dropdown a:hover {background-color: #ddd;}

.show {display: block;}
