#home  {
  height: 90%;
  background-color: lavender;
  text-align: center;
  display: table;
  width: 100%;
}

h1 {
  font-size: 40px;
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}
